.link button {
    width: 25vw;
    height: 5vh;
    color: black;
    cursor: pointer;
    background-color: white;
    /* background-color:  var(--primary-color-green); */
}

.link button a{
    text-decoration: none;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color:black;
}