* {
  font-size: 1vw;
  font-family:'Segoe UI';
  /* margin-left: 3%;
  margin-right: 3%; */
}

:root {
  --primary-color-green: #495E57;
  --primary-color-yellow: #F4CE14;
  --text-color: white;
}


h1{
    font-size: 1.7vw;
}

h2{
    font-size: 1.3vw;
}

h3{
    font-size: 1.1vw;
}

section .main{
  height: 100vh;
}

.main article{
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
  height : 39vh;
  align-items: center;
}

.highlights {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 2fr);
  grid-gap : 8vh;
  padding-left: 10vh;
  padding-right: 10vh;
  background-color: black;
  color: white;
}


.specials {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5vh 10vh 5vh 10vh;
  background-color: var(--primary-color-yellow);
  /* margin: 3%; */
}

.about {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  section,
  article {
    display: grid;
    grid-template-rows: auto; /* Reset grid template rows for mobile devices */
    margin: 2% 5%; /* Adjust margin for mobile devices */
  }

  .specials
  {
    grid-template-columns: 1fr; /* Change to single column layout for mobile devices */
    margin-bottom: 20px;
  }
}
