nav .nav-header{ 
  background-color: black;
}

ul {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  color: white;
  list-style: none;
}

.nav-header ul{
  background-color: black;
  font-weight: bolder;
}

ul li {
  flex: 1;
}

li img{
  width: 100%;
  height: 9vh;
}

.nav-links ul{
    flex-direction: column; 
}

ul li a{
  text-decoration: none;
  color: inherit;
}

@media (max-width: 480px) {
  ul {
    flex-direction: column;
  }
}
