form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding-left: 10vh;
  padding-right: 10vh;
  /* margin-left: 6%;
  margin-right: 6%; */
  margin-top: 3%;
  background-color: var(--primary-color-yellow);
}

button{
  width: 30vw;
  height: 7vh;
  background-color: black;
  color: white;
  font-weight: bolder;
}

label {
  font-weight: bold;
  padding: 2vh;
  /* margin-bottom: 8px; */
}

@media(max-width: 786px){
  form{
    grid-template-columns: 1fr;
  }
}